/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

.content-box {
    
    padding: 30px;
    margin:auto;
    width: 550px;
    background-color: white;
    border-radius: 10px;
    box-shadow:inset;

}

img {
    border-radius: 50%;
    size: 150px 150px;
    border: 3px solid white;
    position: relative;
    left: 300px;
    bottom: 180px;  
  }

body {
   
    background-color:#b2bec3;
    padding-top:150px;
}

h1 {
    font-family: 'Nunito';
    color:#d63031;
    font-size: 36px;
    font-weight: bold;
}

p {
    font-family: 'Nunito';
    font-size: 18px;
}

.twitter {
    background-color: #1da1f2;
    color:white;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: bold;
}

.facebook {
    background-color: #3b5998;
    border-radius: 5px;
    color:white;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

a:link {
text-decoration: none;
}

a:visited {
    color: white;
}
/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

