/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

.content-box {
    
    padding: 30px;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 8px #888888;

}

img {
    border-radius: 50%;
    width: 150px;
    border: 3px solid white;
    position: absolute;
    right: 600px;
    top: 225px;  
  }

body {
   
    background-color:#b2bec3;
    padding-top:150px;
    padding-bottom: 150px;
    margin: 0;
}

h1 {
    font-family: 'Nunito';
    color:#d63031;
    font-size: 36px;
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    font-family: 'Nunito';
    font-size: 18px;
    
}

.twitter {
    background-color: #1da1f2;
    color:white;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin-top: 30px;
}

.facebook {
    background-color: #3b5998;
    border-radius: 5px;
    color:white;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    margin-top: 5px;
}

a:link {
text-decoration: none;
}

a:visited {
    color: white;
}

.p1 {
    letter-spacing: -0.1px;
}
/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

